env/
static_files/logs/
node_modules/
package-lock.json/
# .env
# config.py
cron_logger.log
models/
.rasa/
endpoints.xml
nohup.out
migrations
__pycache__/
actions/__pycache__/
migrations/__pycache__/
database/__pycache__/
routes/__pycache__/
utils/__pycache__/
# Một số file sẽ bỏ qua dưới local nếu muốn thêm thì add vào git để deloy
credentials.yml
endpoints.yml
templates/index.html
.rasa