{% include 'header.html' %}
    <header class="header">
      <a
        class="main-nav-link nav-cta"
        href="/"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div class="container">
        <h2 class="tag tag--vegetarian">Chỉ tiêu đào tạo năm 2022</h2>

        <table class="table">
          <tr>
            <th rowspan="2" class="bold">STT</th>
            <th rowspan="2" class="bold">Mã ngành</th>
            <th rowspan="2" class="bold">Ngành học</th>
            <th colspan="3" class="bold">Chỉ tiêu</th>
          </tr>
          <tr>
            <th class="bold">Tổng chỉ tiêu ngành / nhóm ngành</th>
            <th class="bold">Xét theo KQ thi THPT 2022</th>
            <th class="bold">Theo phương thức khác</th>
          </tr>
          <tr>
            <td>1</td>
            <td>7420101</td>
            <td>Sinh học</td>
            <td class="tong">220</td>
            <td>88</td>
            <td>132</td>
          </tr>
          <tr>
            <td>2</td>
            <td>7420101_CLC</td>
            <td>Sinh học(Chương trình chất lượng cao)</td>
            <td class="tong">80</td>
            <td>32</td>
            <td>48</td>
          </tr>
          <tr>
            <td>3</td>
            <td>7420201</td>
            <td>Công nghệ Sinh học</td>
            <td class="tong">200</td>
            <td>80</td>
            <td>120</td>
          </tr>
          <tr>
            <td>4</td>
            <td>7420101_CLC</td>
            <td>Công nghệ Sinh học(Chương trình chất lượng cao)</td>
            <td class="tong">120</td>
            <td>48</td>
            <td>72</td>
          </tr>
          <tr>
            <td>5</td>
            <td>7440102</td>
            <td>Vật lý học</td>
            <td class="tong">200</td>
            <td>80</td>
            <td>120</td>
          </tr>
          <tr>
            <td>6</td>
            <td>7440112</td>
            <td>Hóa học</td>
            <td class="tong">220</td>
            <td>88</td>
            <td>132</td>
          </tr>
          <tr>
            <td>7</td>
            <td>7440112_CLC</td>
            <td>Hóa học(Chương trình chất lượng cao)</td>
            <td class="tong">120</td>
            <td>48</td>
            <td>72</td>
          </tr>
          <tr>
            <td>8</td>
            <td>7440122</td>
            <td>Khoa học Vật liệu</td>
            <td class="tong">145</td>
            <td>58</td>
            <td>87</td>
          </tr>
          <tr>
            <td>9</td>
            <td>7440201</td>
            <td>Địa chất học</td>
            <td class="tong">50</td>
            <td>30</td>
            <td>20</td>
          </tr>
          <tr>
            <td>10</td>
            <td>7440228</td>
            <td>Hải dương học</td>
            <td class="tong">50</td>
            <td>30</td>
            <td>20</td>
          </tr>
          <tr>
            <td>11</td>
            <td>7440301</td>
            <td>Khoa học Môi trường</td>
            <td class="tong">100</td>
            <td>56</td>
            <td>44</td>
          </tr>
          <tr>
            <td>12</td>
            <td>7440301_CLC</td>
            <td>Khoa học Môi trường(Chương trình chất lượng cao)</td>
            <td class="tong">30</td>
            <td>16</td>
            <td>14</td>
          </tr>
          <tr>
            <td>13</td>
            <td>7460101_NN</td>
            <td>Nhóm ngành Toán học, Toán ứng dụng, Tin học</td>
            <td class="tong">210</td>
            <td>84</td>
            <td>126</td>
          </tr>
          <tr>
            <td>14</td>
            <td>7480101_TT</td>
            <td>Khoa học Máy tính(Chương trình tiên tiến)</td>
            <td class="tong">80</td>
            <td>32</td>
            <td>48</td>
          </tr>
          <tr>
            <td>15</td>
            <td>7480109</td>
            <td>Khoa học dữ liệu</td>
            <td class="tong">90</td>
            <td>36</td>
            <td>54</td>
          </tr>
          <tr>
            <td>16</td>
            <td>7480201_CLC</td>
            <td>Công nghệ thông tin (Chương trình chất lượng cao)</td>
            <td class="tong">450</td>
            <td>180</td>
            <td>270</td>
          </tr>
          <tr>
            <td>17</td>
            <td>7480201_NN</td>
            <td>
              Nhóm ngành máy tính và Công nghệ thông tin (ngành Công nghệ thông
              tin; ngành Kỹ thuật phần mềm; ngành Hệ thống thông tin; ngành Khoa
              học máy tính; ngành Trí tuệ nhân tạo)
            </td>
            <td class="tong">450</td>
            <td>180</td>
            <td>270</td>
          </tr>
          <tr>
            <td>18</td>
            <td>7510401_CLC</td>
            <td>Công nghệ kỹ thuật Hóa học (Chương trình chất lượng cao)</td>
            <td class="tong">120</td>
            <td>48</td>
            <td>72</td>
          </tr>
          <tr>
            <td>19</td>
            <td>7510402</td>
            <td>Công nghệ Vật liệu</td>
            <td class="tong">55</td>
            <td>22</td>
            <td>33</td>
          </tr>
          <tr>
            <td>20</td>
            <td>7510406</td>
            <td>Công nghệ Kỹ thuật Môi trường</td>
            <td class="tong">100</td>
            <td>48</td>
            <td>52</td>
          </tr>
          <tr>
            <td>21</td>
            <td>7520207</td>
            <td>Kỹ thuật điện tử - viễn thông</td>
            <td class="tong">160</td>
            <td>64</td>
            <td>96</td>
          </tr>
          <tr>
            <td>22</td>
            <td>7520207_CLC</td>
            <td>Kỹ thuật điện tử - viễn thông(Chương trình chất lượng cao)</td>
            <td class="tong">80</td>
            <td>32</td>
            <td>48</td>
          </tr>
          <tr>
            <td>23</td>
            <td>7520402</td>
            <td>Kỹ thuật hạt nhân</td>
            <td class="tong">50</td>
            <td>20</td>
            <td>30</td>
          </tr>
          <tr>
            <td>24</td>
            <td>7520403</td>
            <td>Vật lý Y khoa</td>
            <td class="tong">40</td>
            <td>16</td>
            <td>24</td>
          </tr>
          <tr>
            <td>25</td>
            <td>7520501</td>
            <td>Kỹ thuật địa chất</td>
            <td class="tong">30</td>
            <td>20</td>
            <td>10</td>
          </tr>
          <tr>
            <td>26</td>
            <td>7850101</td>
            <td>Quản lý tài nguyên và môi trường</td>
            <td class="tong">80</td>
            <td>32</td>
            <td>48</td>
          </tr>
        </table>
      </div>
    </main>

    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <p>
              <a class="footer-link" href="tel:415-201-6370"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel:415-201-6370"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal" src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />


{% include 'header.html' %}
