{% include 'header.html' %}
    <header class="header">
      <a
        class="main-nav-link nav-cta"
        href="/"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div class="grid grid--3-cols">
        <div class="container">
          <h3 class="heading-slogan">
            Tin
            <b style="color: var(--color-primary)"><i>Ngành đào tạo</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="/dao-tao" onclick="window.open('/dao-tao')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/i/dsnganh.gif') }}" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin <b style="color: var(--color-primary)"><i>Chỉ tiêu</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="/chi-tieu" onclick="window.open('/chi-tieu')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/cohoinghenghiep (2).jpg') }}" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin
            <b style="color: var(--color-primary)"><i>Tổ hợp tuyển sinh</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="/to-hop-tuyen-sinh" onclick="window.open('/to-hop-tuyen-sinh')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/cohoinghenghiep.jpg') }}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <p class="center-text heading-slogan">
        “Học, học nữa, học mãi”. <cite>V.I. Lenin</cite>
      </p>
    </main>

    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/#gioithieu"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <br />
            <p>
              <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal" src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

 
{% include
'footer.html' %}