{% include 'header.html' %}
    <header class="header">
      <!-- <a href="#">
      <img class="logo" alt="Omnifood logo" src="img/omnifood-logo.png" />
    </a> -->
      <a
        class="main-nav-link nav-cta"
        href="/#gioithieu"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">Trường Đại học Khoa học Tự nhiên</h1>
            <p class="hero-description">
              Chung tay phát triển tri thức nhân loại, đáp ứng nhu cầu phát
              triển khoa học công nghệ và kinh tế – xã hội.
            </p>
          </div>
          <div class="hero-img-box meal">
            <img class="meal-img" src="{{ url_for('static', filename='img/i/dsnganh.gif') }}" alt="" />
          </div>
        </div>
      </section>

      <div class="container">
        <h2 class="tag tag--vegetarian padding-large">Bảng học phí</h2>
        <table class="table">
          <tr>
            <th class="bold">STT</th>
            <th class="bold">Tên ngành</th>
            <th class="bold">Khối ngành</th>
            <th class="bold">
              Học phí dự kiến <br />
              (đơn vị: đồng/năm)
            </th>
          </tr>
          <tr>
            <td>1</td>
            <td class="tennganh">Sinh học</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>2</td>
            <td class="tennganh">Sinh học (Chương trình Chất lượng cao)</td>
            <td>IV</td>
            <td>46.000.000</td>
          </tr>
          <tr>
            <td>3</td>
            <td class="tennganh">Công nghệ Sinh học</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>4</td>
            <td class="tennganh">
              Công nghệ Sinh học (Chương trình Chất lượng cao)
            </td>
            <td>IV</td>
            <td>46.000.000</td>
          </tr>
          <tr>
            <td>5</td>
            <td class="tennganh">Vật lý học</td>
            <td>IV</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>6</td>
            <td class="tennganh">Công nghệ Vật lý điện tử - tin học</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>7</td>
            <td class="tennganh">Hóa học</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>8</td>
            <td class="tennganh">Hóa học (Chương trình Chất lượng cao)</td>
            <td>IV</td>
            <td>46.000.000</td>
          </tr>
          <tr>
            <td>9</td>
            <td class="tennganh">Khoa học Vật liệu</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>10</td>
            <td class="tennganh">Địa chất học</td>
            <td>IV</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>11</td>
            <td class="tennganh">Hải dương học</td>
            <td>IV</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>12</td>
            <td class="tennganh">Khoa học Môi trường</td>
            <td>IV</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>13</td>
            <td class="tennganh">
              Khoa học Môi trường (Chương trình Chất lượng cao)
            </td>
            <td>IV</td>
            <td>40.000.000</td>
          </tr>
          <tr>
            <td>14</td>
            <td class="tennganh">
              Nhóm ngành Toán học, Toán tin, Toán ứng dụng
            </td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>15</td>
            <td class="tennganh">Khoa học máy tính (Chương trình tiên tiến)</td>
            <td>IV</td>
            <td>53.000.000</td>
          </tr>
          <tr>
            <td>16</td>
            <td class="tennganh">Khoa học Dữ liệu</td>
            <td>IV</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>17</td>
            <td class="tennganh">
              Công nghệ thông tin (Chương trình Chất lượng cao)
            </td>
            <td>IV</td>
            <td>39.900.000</td>
          </tr>
          <tr>
            <td>18</td>
            <td class="tennganh">
              Nhóm ngành Khoa học Máy tính và Công nghệ thông tin
            </td>
            <td>V</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>19</td>
            <td class="tennganh">Trí tuệ nhân tạo</td>
            <td>V</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>20</td>
            <td class="tennganh">
              Công nghệ kỹ thuật Hóa học (Chương trình chất lượng cao)
            </td>
            <td>V</td>
            <td>50.800.000</td>
          </tr>
          <tr>
            <td>21</td>
            <td class="tennganh">Công nghệ Vật liệu</td>
            <td>V</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>22</td>
            <td class="tennganh">Công nghệ Kỹ thuật Môi trường</td>
            <td>V</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>23</td>
            <td class="tennganh">Kỹ thuật Điện tử - Viễn thông</td>
            <td>V</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>24</td>
            <td class="tennganh">
              Kỹ thuật Điện tử - Viễn thông (Chương trình chất lượng cao)
            </td>
            <td>V</td>
            <td>36.000.000</td>
          </tr>
          <tr>
            <td>25</td>
            <td class="tennganh">Kỹ thuật hạt nhân</td>
            <td>V</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>26</td>
            <td class="tennganh">Vật lý Y khoa</td>
            <td>V</td>
            <td>30.400.000</td>
          </tr>
          <tr>
            <td>27</td>
            <td class="tennganh">Kỹ thuật Địa chất</td>
            <td>V</td>
            <td>24.900.000</td>
          </tr>
          <tr>
            <td>28</td>
            <td class="tennganh">Quản lý Tài nguyên và Môi trường</td>
            <td>VII</td>
            <td>24.900.000</td>
          </tr>
        </table>
      </div>
    </main>

    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/#gioithieu"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >
          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <br />
            <p>
              <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal" src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

    
{% include
'footer.html' %}