{% include 'header.html' %}
    <header class="header">
      <!-- <a href="#">
      <img class="logo" alt="Omnifood logo" src="img/omnifood-logo.png" />
    </a> -->
      <a
        class="main-nav-link nav-cta"
        href="/#gioithieu"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div>
        <div class="container">
          <h2 class="subheading center-text">
            THỜI GIAN - ĐỊA ĐIỂM LÀM THỦ TỤC
          </h2>
          <span class="tag tag--vegetarian">Thời gian</span>

          <p class="hero-description">
            26/9/2022 đến ngày 01/10/2022 (sáng từ 8g00 đến 11g00; chiều từ
            13g30 đến 16g00) <br />Thí sinh xem MSSV và thời gian nhập học cụ
            thể của từng thí sinh từ ngày 19/9/2022 tại website
            <a href="https://tsdh.hcmus.edu.vn/ketqua"
              >https://tsdh.hcmus.edu.vn/ketqua</a
            >
          </p>
          <li class="tag tag--vegetarian">Địa điểm:</li>
          <p class="hero-description">
            Trường Đại học Khoa học Tự nhiên (227 Nguyễn Văn Cừ, Phường 4, Quận
            5, TPHCM)
          </p>

          <h2 class="subheading center-text">HỒ SƠ NHẬP HỌC</h2>
          <div class="grid grid--2-cols">
            <div class="align">
              <img
                class="meal meal-img"
                src="{{ url_for('static', filename='img/i/truongslogan.gif') }}"
                alt="slogan"
              />
            </div>
            <div>
              <ol type="1" class="hero-description margin-left">
                <li>Hai ảnh thẻ 4x6</li>
                <li>Bản chính giấy báo nhập học</li>
                <li>Bản sao trích lục giấy khai sinh</li>
                <li>Bản chính Giấy chứng nhận tốt nghiệp tạm thời năm 2022</li>
                <li>
                  Bản photo học bạ THPT (TS mang theo bản chính để đối chiếu)
                </li>
                <li>
                  Lý lịch sinh viên (in trực tiếp từ trang Portal của Trường)
                </li>
                <li>
                  Bản photo Giấy chứng nhận đoạt giải (TS mang theo bản chính để
                  đối chiếu)
                </li>
                <li>
                  Sổ đoàn hoặc giấy giới thiệu chuyển sinh hoạt Đảng (nếu có)
                </li>
              </ol>
            </div>
          </div>
          <h2 class="tag tag--vegetarian">BẢNG TÍNH HỌC PHÍ TẠM THU</h2>
          <table class="table">
            <tr>
              <th class="bold">STT</th>
              <th class="bold">Mã ngành</th>
              <th class="bold">Tên ngành</th>
              <th class="bold">Học phí tạm thu HK1/2022-23(đơn vị: đồng)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>7420101</td>
              <td>Sinh học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>2</td>
              <td>7420101_CLC</td>
              <td>Sinh học(Chương trình chất lượng cao)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>3</td>
              <td>7420201</td>
              <td>Công nghệ Sinh học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>4</td>
              <td>7420201_CLC</td>
              <td>Công nghệ Sinh học(Chương trình chất lượng cao)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>5</td>
              <td>7440102</td>
              <td>Vật lý học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>6</td>
              <td>7440112</td>
              <td>Hóa học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>7</td>
              <td>7440112_CLC</td>
              <td>Hóa học(Chương trình chất lượng cao)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>8</td>
              <td>7440122</td>
              <td>Khoa học Vật liệu</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>9</td>
              <td>7440201</td>
              <td>Địa chất học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>10</td>
              <td>7440228</td>
              <td>Hải dương học</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>11</td>
              <td>7440301</td>
              <td>Khoa học Môi trường</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>12</td>
              <td>7440301_CLC</td>
              <td>Khoa học Môi trường(Chương trình chất lượng cao)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>13</td>
              <td>7460101_NN</td>
              <td>Nhóm ngành Toán học, Toán tin, Toán ứng dụng</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>14</td>
              <td>7480101_TT</td>
              <td>Khoa học Máy tính(Chương trình tiên tiến)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>15</td>
              <td>7460108</td>
              <td>Khoa học dữ liệu</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>16</td>
              <td>7480201_CLC</td>
              <td>Công nghệ thông tin(Chương trình chất lượng cao)</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>17</td>
              <td>7480201_NN</td>
              <td>Nhóm ngành Máy tính và Công nghệ thông tin</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>18</td>
              <td>7510401_CLC</td>
              <td>Công nghệ kỹ thuật Hóa học</td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>19</td>
              <td>7510402</td>
              <td>Công nghệ Vật liệu</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>20</td>
              <td>7510406</td>
              <td>Công nghệ Kỹ thuật Môi trường</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>21</td>
              <td>7520207</td>
              <td>Kỹ thuật Điện tử - Viễn thông</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>22</td>
              <td>7520207_CLC</td>
              <td>
                Kỹ thuật Điện tử - Viễn thông(Chương trình chất lượng cao)
              </td>
              <td>16.000.000</td>
            </tr>
            <tr>
              <td>23</td>
              <td>7520402</td>
              <td>Kỹ thuật hạt nhân</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>24</td>
              <td>7520403</td>
              <td>Vật lý Y khoa</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>25</td>
              <td>7520201</td>
              <td>Kỹ thuật địa chất</td>
              <td>10.750.000</td>
            </tr>
            <tr>
              <td>26</td>
              <td>7850101</td>
              <td>Quản lý tài nguyên và môi trường</td>
              <td>10.750.000</td>
            </tr>
          </table>
          <li class="tag tag--vegetarian">Phí bảo hiểm</li>
          <ul class="hero-description">
            <li>
              Bảo hiểm tai nạn: 200.000đ/4 năm(hạn sử dụng 01/10/2022 đến
              30/09/2026)
            </li>
            <li>
              Bảo hiểm y tế: 705.000đ/15 tháng(hạn sử dụng 01/10/2022 -
              31/12/2023)
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/#gioithieu"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <br />
            <p>
              <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal" src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

{% include 'footer.html' %}
