{% include 'header.html' %}
    <header class="header">
      <!-- <a href="#">
      <img class="logo" alt="Omnifood logo" src="img/omnifood-logo.png" />
    </a> -->
      <a
        class="main-nav-link nav-cta"
        href="/"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <section class="grid grid--3-cols margin-top-mid container">
        <div class="home">
          <img src="{{ url_for('static', filename='img/i/cnnt.gif') }}" alt="House 1" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Công nghệ thông tin</h5>
          <div class="home__location">
            <p>Nhóm ngành: 5</p>
          </div>
          <div class="home__rooms">
            <p>A00;B00;B08;D07</p>
          </div>
          <div class="home__area">
            <p>26.7 – 28.2(THPT)</p>
          </div>
          <div class="home__price">
            <p>880 - 1001(ĐGNL)</p>
          </div>

          <button
            onclick="window.open('https://huongnghiep.hocmai.vn/chuyen-nganh/cong-nghe-thong-tin/dai-hoc-khoa-hoc-tu-nhien-dai-hoc-quoc-gia-tphcm/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img
            src="{{ url_for('static', filename='img/i/khoadientuvienthong.gif') }}"
            alt="Hoa hoc"
            class="home__img"
          />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Điện tử viễn thông</h5>
          <div class="home__location">
            <p>Nhóm ngành: 2</p>
          </div>
          <div class="home__rooms">
            <p>A00;A01;D07;D90</p>
          </div>
          <div class="home__area">
            <p>424.25(THPT)</p>
          </div>
          <div class="home__price">
            <p>680 -750(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('http://www.fetel.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="{{ url_for('static', filename='img/i/hoahoc.gif') }}" alt="House 3" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Hóa học</h5>
          <div class="home__location">
            <p>NHóm ngành: 3</p>
          </div>
          <div class="home__rooms">
            <p>A00;B00;D07;D90</p>
          </div>
          <div class="home__area">
            <p>23.6 - 24.65(THPT)</p>
          </div>
          <div class="home__price">
            <p>770 -820(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('http://www.chemistry.hcmus.edu.vn/index.php/vi/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img
            src="{{ url_for('static', filename='img/i/khoahocvacongnghevatlieu.gif') }}"
            alt="House 4"
            class="home__img"
          />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Khoa học và Công nghệ Vật liệu</h5>
          <div class="home__location">
            <p>Nhóm ngành: 2</p>
          </div>
          <div class="home__rooms">
            <p>A00;A01;B00;D07</p>
          </div>
          <div class="home__area">
            <p>17 -23(THPT)</p>
          </div>
          <div class="home__price">
            <p>620 - 650(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('http://www.mst.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="{{ url_for('static', filename='img/i/vatly.gif') }}" alt="House 5" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Vật lý và Vật lý kỹ thuật</h5>
          <div class="home__location">
            <p>Nhóm ngành: 5</p>
          </div>
          <div class="home__rooms">
            <p>A00;A01;A02;D90;B00;D07</p>
          </div>
          <div class="home__area">
            <p>17 – 24.25(THPT)</p>
          </div>
          <div class="home__price">
            <p>610-750(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('https://phys.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="img/i/sinhhoc.gif" alt="House 6" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Sinh học và Công nghệ Sinh học</h5>
          <div class="home__location">
            <p>Nhóm ngành: 4</p>
          </div>
          <div class="home__rooms">
            <p>A02;B00;B08;D90</p>
          </div>
          <div class="home__area">
            <p>17-24(THPT)</p>
          </div>
          <div class="home__price">
            <p>630 -815(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('http://fbb.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="img/i/moitruong.gif" alt="House 6" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Môi trường</h5>
          <div class="home__location">
            <p>Nhóm ngành: 4</p>
          </div>
          <div class="home__rooms">
            <p>A00;B00;B08;D07</p>
          </div>
          <div class="home__area">
            <p>17(THPT)</p>
          </div>
          <div class="home__price">
            <p>610-620(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('http://www.environment.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="img/i/matruong.gif" alt="House 6" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Địa chất</h5>
          <div class="home__location">
            <p>Nhóm ngành:2</p>
          </div>
          <div class="home__rooms">
            <p>A00;A01;B00;D07</p>
          </div>
          <div class="home__area">
            <p>17(THPT)</p>
          </div>
          <div class="home__price">
            <p>610(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('https://geology.hcmus.edu.vn/vi/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>

        <div class="home">
          <img src="{{ url_for('static', filename='img/i/khoatoantin.gif') }}" alt="House 6" class="home__img" />
          <svg class="home__like">
            <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-heart-full') }}"></use>
          </svg>
          <h5 class="home__name">Khoa Toán - Tin</h5>
          <div class="home__location">
            <p>Nhóm ngành: 1</p>
          </div>
          <div class="home__rooms">
            <p>A00;A01;B00;D01</p>
          </div>
          <div class="home__area">
            <p>24.75(THPT)</p>
          </div>
          <div class="home__price">
            <p>780(ĐGNL)</p>
          </div>
          <button
            onclick="window.open('https://www.math.hcmus.edu.vn/')"
            class="btn1 home__btn"
          >
            Chi tiết
          </button>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/#gioithieu"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <br />
            <p>
              <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal" src="img/tunhien1.jpg" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

{% include 'footer.html' %}