{% include 'header.html' %}
    <header class="header">
      <a
        class="main-nav-link nav-cta"
        href="/#gioithieu"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div class="container">
        <h1 class="tag tag--vegetarian padding-large">
          TỔ HỢP TUYỂN SINH THEO NGÀNH/NHÓM NGÀNH
        </h1>

        <table class="table">
          <tr>
            <th class="bold">STT</th>
            <th class="bold">Mã chuyên ngành</th>
            <th class="bold">Tên ngành</th>
            <th class="bold">Tổ hợp môn/bài thi (Mã tổ hợp)</th>
          </tr>
          <tr>
            <td>1</td>
            <td>7420101</td>
            <td class="tennganh">Sinh học</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08)
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>7420101_CLC</td>
            <td class="tennganh">Sinh học (Chương trình Chất lượng cao)</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08)
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>7420201</td>
            <td class="tennganh">Công nghệ Sinh học</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>7420201_CLC</td>
            <td class="tennganh">
              Công nghệ Sinh học (Chương trình Chất lượng cao)
            </td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>7440102</td>
            <td class="tennganh">Vật lý học</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>

          <tr>
            <td>6</td>
            <td>7440112</td>
            <td class="tennganh">Hóa học</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>7440112</td>
            <td class="tennganh">Hóa học (Chương trình Chất lượng cao)</td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>7440122</td>
            <td class="tennganh">Khoa học Vật liệu</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Vật lý, Tiếng Anh(A01) <br />Toán, Tiếng Anh, Hóa
              học(D07)
            </td>
          </tr>
          <tr>
            <td>9</td>
            <td>7440201</td>
            <td class="tennganh">Địa chất học</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Vật lý, Tiếng Anh(A01) <br />Toán, Tiếng Anh, Hóa
              học(D07)
            </td>
          </tr>
          <tr>
            <td>10</td>
            <td>7440228</td>
            <td class="tennganh">Hải dương học</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Vật lý, Tiếng Anh(A01) <br />Toán, Tiếng Anh, Hóa
              học(D07)
            </td>
          </tr>
          <tr>
            <td>11</td>
            <td>7440301</td>
            <td class="tennganh">Khoa học Môi trường</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Hóa
              học(D07)
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>7440301_CLC</td>
            <td class="tennganh">
              Khoa học Môi trường (Chương trình Chất lượng cao)
            </td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Hóa
              học(D07)
            </td>
          </tr>
          <tr>
            <td>13</td>
            <td>7460101_NN</td>
            <td class="tennganh">
              Nhóm ngành Toán học, Toán tin, Toán ứng dụng
            </td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Vật lý, Tiếng Anh(A01) <br />Toán, Tiếng Anh, Ngữ
              văn(D01)
            </td>
          </tr>
          <tr>
            <td>14</td>
            <td>7480101_TT</td>
            <td class="tennganh">Khoa học máy tính (Chương trình tiên tiến)</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Hóa học, Tiếng
              Anh(D07)
            </td>
          </tr>
          <tr>
            <td>15</td>
            <td>7480109</td>
            <td class="tennganh">Khoa học Dữ liệu</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Hóa học, Tiếng
              Anh(D07)
            </td>
          </tr>
          <tr>
            <td>16</td>
            <td>7480201_CLC</td>
            <td class="tennganh">
              Công nghệ thông tin (Chương trình Chất lượng cao)
            </td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Hóa học, Tiếng
              Anh(D07)
            </td>
          </tr>
          <tr>
            <td>17</td>
            <td>7480201_NN</td>
            <td class="tennganh">
              Nhóm ngành máy tính và công nghệ thông tin( ngành công nghệ thông
              tin; ngành Kỹ thuật phần mềm; ngành Hệ thống thông tin; ngành Khoa
              học máy tính; ngành Trí tuệ nhân tạo)
            </td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Hóa học, Tiếng
              Anh(D07)
            </td>
          </tr>
          <tr>
            <td>18</td>
            <td>7510401_CLC</td>
            <td class="tennganh">
              Công nghê Kỹ thuật Hóa học(CT Chất lượng cao)
            </td>
            <td class="text_left">
              Toán, Văn, Sinh học(A02) <br />Toán, Hóa, Sinh học(B00)
              <br />Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Tiếng Anh, Khoa
              học tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>19</td>
            <td>7510402</td>
            <td class="tennganh">Công nghệ Vật liệu</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Hóa học, Sinh học(B00) <br />
              Toán, Hóa học, Tiếng Anh(D07)
            </td>
          </tr>
          <tr>
            <td>20</td>
            <td>7510406</td>
            <td class="tennganh">Công nghệ Kỹ thuật Môi trường</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa học, Sinh học(B00)
              <br />
              Toán, Sinh học, Tiếng Anh(B08) <br />Toán, Hóa học, Tiếng Anh(D07)
            </td>
          </tr>
          <tr>
            <td>21</td>
            <td>7520207</td>
            <td class="tennganh">Kỹ thuật Điện tử - Viễn thông</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Hóa học, Tiếng Anh(D07) <br />Toán, Tiếng Anh, Khoa
              học Tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>22</td>
            <td>7520207_CLC</td>
            <td class="tennganh">Kỹ thuật Điện tử - Viễn thông</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Hóa học, Tiếng Anh(D07) <br />Toán, Tiếng Anh, Khoa
              học Tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>23</td>
            <td>7520402</td>
            <td class="tennganh">Kỹ thuật Hạt nhân</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Vật lý, Sinh học(A02) <br />Toán, Tiếng Anh, Khoa học
              Tự nhiên(D90)
            </td>
          </tr>

          <tr>
            <td>24</td>
            <td>7520403</td>
            <td class="tennganh">Vật lý Y khoa</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Vật lý, Sinh học(A02) <br />Toán, Tiếng Anh, Khoa học
              Tự nhiên(D90)
            </td>
          </tr>
          <tr>
            <td>25</td>
            <td>7520501</td>
            <td class="tennganh">Kỹ thuật Địa chất</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Vật lý, Tiếng Anh(A01)
              <br />Toán, Hóa học, Sinh học(B00) <br />Toán, Hóa học, Tiếng
              Anh(D07)
            </td>
          </tr>
          <tr>
            <td>26</td>
            <td>7850101</td>
            <td class="tennganh">Quản lý Tài nguyên và Môi trường</td>
            <td class="text_left">
              Toán, Vật lý, Hóa học(A00) <br />Toán, Hóa học, Sinh học(B00)
              <br />Toán, Hóa học, Tiếng Anh(D07) <br />Toán, Sinh học, Tiếng
              Anh(B08)
            </td>
          </tr>
        </table>
      </div>
    </main>
    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="/#gioithieu"
            onclick="window.open('/')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <p>
              <a class="footer-link" href="tel:415-201-6370"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel:415-201-6370"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <div>
          <img class="meal"  src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
        </div>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />


{% include 'footer.html' %}