{% include 'header.html' %}
    <header class="header">
      <a
        class="main-nav-link nav-cta"
        href="/#gioithieu"
        onclick="window.open('/')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div class="grid grid--3-cols">
        <div class="container">
          <h3 class="heading-slogan">
            Tin
            <b style="color: var(--color-primary)"
              ><i>Phương thức tuyển sinh</i></b
            >
          </h3>
          <div class="hero-img-box meal">
            <a href="/phuong-thuc-tuyen-sinh" onclick="window.open('/phuong-thuc-tuyen-sinh')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/i/phuongthuctuyensinh.jpg') }}" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin <b style="color: var(--color-primary)"><i>Học phí</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="/hoc-phi" onclick="window.open('/hoc-phi')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/hoctap2.jpg') }}" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin <b style="color: var(--color-primary)">Hướng dẫn nhập học</b>
          </h3>
          <div class="hero-img-box meal">
            <a href="/huong-dan-nhap-hoc" onclick="window.open('/huong-dan-nhap-hoc')"
              ><img class="meal-img" src="{{ url_for('static', filename='img/tuyensinh.png') }}" alt=""
            /></a>
          </div>
        </div>
      </div>
      <p class="center-text heading-slogan">
        “Giáo dục là vũ khí mạnh nhất mà con người ta có thể sử dụng để thay đổi
        thế giới.”. <cite>N.Mandela</cite>
      </p>

      <footer class="footer">
        <div class="container grid grid--4-cols">
          <div class="logo-col">
            <a
              class="main-nav-link nav-cta"
              href="/#gioithieu"
              onclick="window.open('/')"
            >
              <i class="text-large">↩ Trang chủ</i></a
            >

            <p class="copyright">
              <span class="year"></span>. Khóa luận tốt nghiệp
            </p>
          </div>

          <div class="address-col">
            <p class="heading-slogan">Cơ sở 1</p>
            <address class="contacts">
              <p class="address">
                227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
              </p>
              <br />
              <p>
                <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
                ><br />
                <a class="footer-link" href="mailto:hello@omnifood.com"
                  >info@hcmus.edu.vn</a
                >
              </p>
            </address>
          </div>

          <div class="address-col">
            <p class="heading-slogan">Cơ sở 2</p>
            <address class="contacts">
              <p class="address">
                Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
                <br />
              </p>
              <p>
                <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
                ><br />
                <a class="footer-link" href="mailto:hello@omnifood.com"
                  >info@hcmus.edu.vn</a
                >
              </p>
            </address>
          </div>
          <div>
            <img class="meal" src="{{ url_for('static', filename='img/tunhien1.jpg') }}" alt="" />
          </div>
        </div>
      </footer>
    </main>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

{% include 'footer.html' %}