<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    /> -->

    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/queries.css" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <script defer src="js/script.js"></script>

    <title>KHTN-Tuyển sinh Đại học</title>
  </head>
  <body>
    <header class="header">
      <a
        class="main-nav-link nav-cta"
        href=""
        onclick="window.open('index.html')"
      >
        <i class="text-large">↩ Trang chủ</i></a
      >

      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <main>
      <div class="grid grid--3-cols">
        <div class="container">
          <h3 class="heading-slogan">
            Tin
            <b style="color: var(--color-primary)"><i>Ngành đào tạo</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="daotao.html" onclick="window.open('nganhdaotao.html')"
              ><img class="meal-img" src="img/i/dsnganh.gif" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin <b style="color: var(--color-primary)"><i>Chỉ tiêu</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="daotao.html" onclick="window.open('chitieu.html')"
              ><img class="meal-img" src="img/cohoinghenghiep (2).jpg" alt=""
            /></a>
          </div>
        </div>

        <div class="container">
          <h3 class="heading-slogan">
            Tin
            <b style="color: var(--color-primary)"><i>Tổ hợp tuyển sinh</i></b>
          </h3>
          <div class="hero-img-box meal">
            <a href="" onclick="window.open('tohoptuyensinh.html')"
              ><img class="meal-img" src="img/cohoinghenghiep.jpg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <p class="center-text heading-slogan">
        “Học, học nữa, học mãi”. <cite>V.I. Lenin</cite>
      </p>
    </main>

    <footer class="footer">
      <div class="container grid grid--4-cols">
        <div class="logo-col">
          <a
            class="main-nav-link nav-cta"
            href="index.html#gioithieu"
            onclick="window.open('index.html')"
          >
            <i class="text-large">↩ Trang chủ</i></a
          >

          <p class="copyright">
            <span class="year"></span>. Khóa luận tốt nghiệp
          </p>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 1</p>
          <address class="contacts">
            <p class="address">
              227 đường Nguyễn Văn Cừ, phường 4, quận 5, Tp. HCM
            </p>
            <br />
            <p>
              <a class="footer-link" href="tel:02862884499"> (028) 62884499</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>

        <div class="address-col">
          <p class="heading-slogan">Cơ sở 2</p>
          <address class="contacts">
            <p class="address">
              Phường Linh Trung, Quận Thủ Đức, Tp. HCM. <br />
              <br />
            </p>
            <p>
              <a class="footer-link" href="tel: 0838962823"> (08) 38962823</a
              ><br />
              <a class="footer-link" href="mailto:hello@omnifood.com"
                >info@hcmus.edu.vn</a
              >
            </p>
          </address>
        </div>
        <dir>
          <img class="meal" src="img/tunhien1.jpg" alt="" />
        </dir>
      </div>
    </footer>
    <!-- rasa chatbot -->

    <style>
      .rw-conversation-container .rw-header {
        background-color: var(--color-primary);
      }
      .rw-conversation-container .rw-messages-container .rw-response {
        background-color: #e16595;
        color: var(--color-grey-light-1);
      }

      .rw-conversation-container .rw-send {
        color: aqua;
      }
    </style>
    <div id="webchat" />

    <script>
      !(function () {
        let e = document.createElement("script"),
          t = document.head || document.getElementsByTagName("head")[0];
        (e.src =
          "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
          // Replace 1.x.x with the version that you want
          (e.async = !0),
          (e.onload = () => {
            window.WebChat.default(
              {
                initPayload: "/greet",
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                title: "AI Chatbot",
                params: {
                  images: {
                    dims: {
                      width: 300,
                      height: 200,
                    },
                  },
                },
                subtitle: "Tư vấn tuyển sinh Đại học - HCMUS",
                // add other props here
              },
              null
            );
          }),
          t.insertBefore(e, t.firstChild);
      })();
    </script>
  </body>
</html>
